<mat-toolbar color="primary" style="background-color: #424242">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons">
        view_headline
        </i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a mat-button [routerLink]="['']">
          All
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button [routerLink]="['/active']">
          Active
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button [routerLink]="['/completed']">
          Completed
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button>
          Clear completed
        </a>
      </button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['']" [routerLinkActive]="['active-button']">All</button>
    <button mat-button [routerLink]="['/active']" [routerLinkActive]="['active-button']">Active</button>
    <button mat-button [routerLink]="['/completed']" [routerLinkActive]="['active-button']">Completed</button>
    <button mat-button>Clear completed</button>
  </mat-toolbar-row>
</mat-toolbar>
<h2>todos: </h2>

<router-outlet></router-outlet>
